<h1>プロフィールを編集</h1>
      <%#= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :name, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :name, class: "form-control", placeholder:"Taro_Suzuki" %>
        </div>
      </div>
      <div class="form-group" style="margin-bottom:0px">
        <%= f.label :email, class:"col-sm-2 control-label" %>
        <div class="col-sm-10" style= "margin-bottom:0px">
          <%= f.text_field :email, class: "form-control", placeholder:"tarosuzuki@example.com",  style:"margin-bottom:0px " %>
        </div>
      </div>
      <p class="help-block col-sm-offset-2 col-sm-10" >※半角文字で入力してください。</p>
      <div class="form-group">
        <%= f.label :password, class:"col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password, class: "form-control", placeholder:"password" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation", class:"col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder:"password" %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label :location,  class:"col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :location, class: "form-control", placeholder:"東京都" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, class:"col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :description, class: "form-control", placeholder:"自己紹介を入力してください" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "update profile", class: "btn btn-large btn-primary" %>
        </div>
      </div>
