<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-6">
    <%= render 'follower_nav' if logged_in? %>
    <% if @follower_users.any? %>
      <h3>フォロワー (<%= @follower_users.count %>)</h3>
      <ol class="microposts">
        <% @follower_users.each do |follower_user| %>
          <%= render partial: 'follower_users/follower_user', locals: { follower_user: follower_user } %>
        <% end %>
      </ol>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= render 'follow_form' if logged_in? %>
  </div>
</div>
