<h1>プロフィール</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h2>
    <%= gravatar_for @user %>
    <%= @user.name %> 
  </h2>
    <table class="table table-striped">
      <tr>
        <td>email</td>
        <td><%= @user.email %></td>
      </td>
      <tr>
        <td>location</td>
        <td><%= @user.location %></td>
      </td>
      <tr>
        <td>description</td>
        <td><%= @user.description %></td>
      </td>
    </table>
  <% if logged_in? %>
    <% if current_user.id.to_s == params[:id].to_s %>
      <%= link_to "プロフィールを編集", edit_user_path(@user) %>
    <% else %>
      <%#= current_user.id.to_s == params[:id].to_s %>
      <%#= current_user.id %>
      <%#= params[:id] %>
    <% end %>
  <% end %>
</div> 
